{% extends 'base.html' %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container" style='text-align: center'>
    <h1>About us!</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	  <!-- Example row of columns -->
	  <div class="row">
	    <div class="col-md-6">
	      <p>Millennium Cleaners is a family owned, full service dry cleaner located at the corner of 23 Mile and Hayes in Macomb Township. Tom Taseski has been running Millennium Cleaners for 10 years and offers dry cleaning, wet cleaning, pressing and preservation services. The Taseski family is dedicated to their business and to making your trip to the cleaner as enjoyable and hassle-free as possible. That is why they offer Free Pick-up and Delivery Dry Cleaning services on Mondays and Thursday. </p>
	      <p>Life is busy and sometimes taking your clothes to the cleaners can seem like an impossibility. All you have to do for the Free Pick Up and Delivery Service is call and sign up. We pick up and deliver orders on Mondays and Thursdays.  There is no extra cost for this service, hence the name. </p>
	      <p>Save yourself the extra trip to and from the cleaners with our Free Pick-Up and Delivery Service. Find out why Millennium Cleaners is the best dry clearning, wet cleaning, pressing, and clothing preservation shop in Macomb </p>
	    </div>
	    <div class="col-md-1">
	    </div>
	    <div class="col-md-5">
	      <img src="/media/van-side.jpg" alt="Delivery Van">
	    </div>
	  </div>
	</div>
{% endblock %}