{% extends 'base.html' %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container" style='text-align: center'>
    <h1>Services</h1>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	  <!-- Example row of columns -->
	  <div class="row">
	    <font color="black">
	    <div class="col-md-6">
	    	<h2>FREE pick-up and delivery service at your home or office</h2>
	     	<p>The best part about Millennium Cleaners is you don’t even have to step outside to get full-service dry cleaning. On Mondays and Thursdays, Millennium Cleaners will pick-up your order at your home or office and deliver it the following Monday or Thursday (excluding holidays). You don’t even need to be there. Just leave a credit card number with the owner and you will be billed once a month for services. See our new customer brochure at bottom of page.</p>  
	  	</div>
	  	<div class="col-md-6">
	  		<h2>Dry Cleaning and Shirt Laundry Service</h2>
	  		<p>Millennium Cleaners offers dry cleaning and wet cleaning services for suits, dresses, jackets, tuxedos, curtains, comforters, upholstery, drapes, tablecloths and other household items.</p>
	  	</div>
	  	<div class="col-md-6">
	  		<h2>Gown Cleaning and Dress Preservation</h2>
	  		<p>Don’t leave your valuable dresses in the closet without using our gown preservation service first. We rely on RAM Leather Care to clean and preserve wedding gowns, bridesmaid dresses, first communion dresses, and all other dress gowns to preserve the material and keep their beautiful color for years. These items may require off-site services.</p>
	  	</div>
	  	<div class="col-md-6">
	  		<h2>Dress Shirt Pressing</h2>
	  		<p>At Millennium Cleaners, we will clean and press your shirt using our new Unipress Machine. We will clean, press, and if you want, we will box your dress shirts so they maintain shape while sitting in the closet. At Millennium Cleaners we give the utmost care to each and every dress shirt. We hand finish every shirt to look its best. We even press the pleats on the sleeves using the newest Unipress Machine so you always look your best.</p>
	  	</div>
	  	<div class="col-md-6">
	  		<h2>Leather Cleaning and Suede Cleaning</h2>
	  		<p>Millennium Cleaners will clean suede and leather pants, shirts, jackets, shoes, or other items. These items are serviced off-site by Ram Leather Care.</p>
	  	</div>
	  	<div class="col-md-6">
	      <img src="/media/services.jpg" alt="Services">
	    </div>
	  </font>
	</div>
{% endblock %}